{% extends 'base.html.twig' %}

{% block body %}

<div class="topnav">
	<a href="new-item">New Item</a>
	<a href="lister-item">Item List</a>
	<a href="new-icon">New Icon</a>
	<a href="lister-icon">Icon List</a>
</div>

<div id="alert-div"></div>

<div class="mt-5">

{{ form_start(item_form) }}

<div class="form-group">
{{ form_label(item_form.name) }}
{{ form_widget(item_form.name, {'attr': {'class' : 'form-control'} }) }}
</div>

<div class="form-group">
{{ form_label(item_form.expirationDate) }}
{{ form_widget(item_form.expirationDate, {'attr': {'class' : 'form-control'} }) }}
</div>

<div class="form-group">
{{ form_label(item_form.icon) }}
{{ form_widget(item_form.icon, {'attr': {'class' : 'form-control'} }) }}
</div>

<div>
{{ form_widget(item_form.save, {'attr': {'class' : 'btn btn-primary'}, 'Label': label }) }}
</div>

{{ form_end(item_form) }}
</div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

</script>
{% endblock %}